div {
  line-height:2em;
  font-size:1.4em;
  <!-- font: 1.4em Arial, sans-serif; -->
  background-image: linear-gradient(#ffb1bb, #ffb1bb),
    linear-gradient(#ffb1bb, #ffb1bb),
    linear-gradient(#ffb1bb, #ffb1bb),
    linear-gradient(#ffb1bb, #ffb1bb);

  background-repeat: no-repeat;
  background-size: 8px 3px;
  background-position: top left,  bottom left;

  border: solid #ffb1bb;
  text-align: justify;
  border-width: 0 0 0 3px;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 10px;
  margin: 20px;
}

td:after {
  content: '{';
  color: #ffb1bb;
  font-size: 60px;
  text-align: left;
  padding-left: 10px;
}

.hr {
  padding: 0 !important;
  border: none !important;
  border-top: 5px double #ff0000 !important;
  color: #ff0000 !important;
  text-align: center !important;
}
.hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background-image: url(/url/image.jpg);
}